@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-zinc-200;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.full-height {
  min-height: calc(100vh - 80px);
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus {
  outline: none !important;
}
